*{
   
    margin: 0px;
    margin-top:-4px;
    padding: 0; 
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
    height:100%;
}

head>title{
    text-transform: capitalize;
}
header{
    width:100%;
    height: 60px;
    
}
.main>h1{
    font-family: 'Ubuntu', sans-serif;
    
    font-size: 30px;
}
.main > p{
    font-family: 'Poiret One', cursive;
    line-height: 40px;
}
nav{
    width :100%;
    height: 60px;
    background-color:rgb(166, 194, 212) ;
    line-height: 60px;
    position: fixed;
    
    top : 5px;
}
nav ul{
    display: flex;
    float: right;
    margin-right: 30px;
   
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
   

}
nav ul li:hover{
    background-color:#AED6F1 ;
    height:70px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding: 30px;
    text-transform: capitalize;
}



img{
    
    margin-top:7px;
    margin-left:0px;
    width: 130px;
    height: 51px;
}

.slide{
   
    width :100%;
    height:200px;
    margin-top:3px;
   
    
}
.slide > img{
    width: 100%;
    height:300px;
}
.main{
    
    text-align: center;
    height:10px;
    letter-spacing: 2px;
    width:97%;
}
.main h1{
    margin-top:30px;
    text-align: center;
    text-transform: uppercase;
    text-justify: left;
    font-family: 'Sigmar One', cursive;
    color:#1277B9;
}
.main > p{
    margin-top:100px;
    color:black;
    text-align:justify;
    font-family: 'Staatliches', cursive;
    font-weight: bolder;
    margin-left:10px;
    opacity: 1;
    
}
.parallax1{
    /* The image used */
    background-image: url("/home/user/Documents/vscode-assign/assign-1/img/boeing2.jpg");
  
    /* Full height */
    
    height: 100%; 
    width:100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:2px;
    margin-top:10px;
    opacity: 0.8;
  }
.parallax2{
    /* The image used */
    /* background-image: url("/home/user/Documents/vscode-assign/assign-1/img/boeing3.jpg"); */
  
    /* Full height */
    
    height: 90%; 
    width:100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:2px;
    margin-top:60px;
    opacity: 0.7;
}
.news{
    margin-top:30px;
   
    height:10px;
}
.news>h1{
    font-family: 'Thasadith', sans-serif;
    text-transform: uppercase;
}


.content{
    background-color: rgb(196, 221, 238)  ;
    width: 50%;
    height: 200px;
    margin-top: -30px; 
    border-radius: 2%;
   margin-left:300px;
   
    
}
.article{
   
    display:flex;
    height:150px;
   
   
}
.article >*{
    border-radius: 5%;
   background-color: dodgerblue;
   color:white;
   width :100%;
   margin: 10px;
   text-align:center;

}
.article>section>img{
    
    width:80%;
    height:100px;
    vertical-align: middle;
    
}
/* flip-flop animation */
.flip-box1 ,.flip-box2,.flip-box3{
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .article:hover .flip-box1 {
    transform: rotateY(180deg);
  }
  .article:hover .flip-box2 {
    transform: rotateY(180deg);
  }
  .article:hover .flip-box3 {
    transform: rotateY(180deg);
  }
  
  .flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 40%; 
    backface-visibility: hidden;
  }
  
  
.flip-back {
    
    background-color:#b3d1ff ;
    color: white;
    transform: rotateY(180deg);
  }
.content>h4{
    text-align: left;
    margin-left:20px;
    text-align: justify;
   
    
    
}





footer{
    background-color:#DDEAF2  ;
    width:100%;
    height:150px;
    margin-top:5px;
    bottom: 10px;
    border-radius: 10px;
}
footer >.info{
   
    width: 25%;
    height:150px;
    margin-left: 10px;
    text-transform: uppercase;
    color:blue;
    text-align: left;
    line-height: 20px;
    font-size: 20px;
    padding-top:15px;
    
}
footer>.info>.font{
    margin-top:-100px;
    font-family: 'Balthazar', serif;
}
.info>img{
    width:500px;
    height: 129px;
    /* margin-left:335px; */
    margin-top: -170px;
    margin-right:-600px;
    float:right;
}

/* google icons */
.icons{
    
    width:100%;
    height:30px;
    text-align: right;
    margin-top:-50px;
    
}
.fa {
   
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
   
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}

/*media query for respoonsive website*/


@media screen and (max-width: 700px) {
    header>nav>ul {
      
      margin-top:-21px;
      display: flex;
      flex-direction: column;
      float: left;
      background-color:lightskyblue ;
      height:210px;

      width: 100%;
      
    }
    nav{
        width:100%;
        position: relative;
    }
    .parallax1{
        width:100%;
        opacity: 1;
        margin-top:220px;
    }
   
    body>.main{
        margin-top:293px;
        width:100%;
        text-align: center;
        height: 100px;
    }
    .content{
        margin-top:573px;
        width:100%;
        
    }
   
     footer{
        width:100%;
        
    }
    footer .info{
        width:100%;
        height:100px;
        line-height:20px;
        
 
     } 
     footer>.map>img{
        display:none;
      } 
     
      footer>.icons{
        margin-top:10px;
      }   
}
/* for galaxy 5s */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
     header{
         width:100%;
     } 
     nav{
       
          width:100%;
          
      }
      header>nav>ul{
          
      margin-top:-21px;
      display: flex;
      flex-direction: column;
      float: left;
      text-align: center;
      color:black;
      background-color:lightskyblue ;
      height:260px;
       width: 100%;
      }
      .parallax1{
        /* The image used */
        background-image: url("/home/user/Documents/vscode-assign/assign-1/img/boeing2.jpg");
      
        /* Full height */
        
        height: 40%; 
        width:100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left:2px;
        margin-top:280px;
        opacity: 0.8;
      }
      .parallax2{
      height: 40%; 
      width:100%;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left:2px;
      margin-top:60px;
      opacity: 0.7;
      }
        
    .main{
    
        text-align: center;
        height:100px;
        letter-spacing: 2px;
        width:100%;
    }
     .main h1{
        margin-top:10px;
        text-align: center;
        text-transform: uppercase;
        text-justify: left;
        font-family: 'Sigmar One', cursive;
        color:#1277B9;
    }
   
    .news{
        margin-top:210px;
       
        height:10px;
    }
    .news>h1{
       margin-top:190px;
        font-family: 'Thasadith', sans-serif;
        text-transform: uppercase;
    }
    
    
    .content{
        background-color: rgb(196, 221, 238)  ;
        width: 50%;
        height: 200px;
        margin-top: -130px; 
        border-radius: 2%;
       margin-left:250px;
       
        
    }
    
    
     footer{
        width:100%;
        
    }
}

   


